{% extends 'base.html' %}

{% block conteudo %}

<h1 style="margin-top: 24px; margin-bottom: 48px">Listagem de tarefas</h1>

{% for tarefa in tarefas %}
<div class="card mb-3">
  <div class="card-header">
    Prioridade: {{ tarefa.get_prioridade_display }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ tarefa.titulo }}</h5>
    <p class="card-text">{{ tarefa.descricao }}</p>
    <hr>
    <a class="card-link" href="{% url 'editar_tarefa' tarefa.id %}">Alterar tarefa</a>
    <a class="card-link" href="{% url 'remover_tarefa' tarefa.id %}">Remover tarefa</a>
  </div>
  <div class="card-footer text-muted">
    Data limite: {{ tarefa.data_expiracao|date:'d/m/Y' }}
  </div>
</div>
{% endfor %}

<a href="{% url 'cadastrar_tarefa' %}">
  <input class="btn btn-primary mb-3" type="button" value="Cadastrar tarefa" style="margin-top: 32px">
</a>

{% endblock conteudo %}